! ~/.Xresources
! cd /usr/lib/urxvt/perl; copy from git clone https://github.com/muennich/urxvt-perls
! changes followed by xrdb -load ~/.XResources then new terminal

! rofi setup
rofi.hide-scrollbar:	true

URxvt.scrollBar: 	false
URxvt.scrollBar_right:	false
Urxvt.cursorBlink: 	true
URxvt.perl-ext-common:	default,url-select,clipboard,keyboard-select,selection-to-clipboard
URxvt.copyCommand:	xclip -i -selection clipboard
URxvt.pasteCommand:	xclip -o -selection clipboard
URxvt.keysym.C-c:	perl:clipboard:copy
URxvt.keysym.C-v:	perl:clipboard:paste
URxvt.urlLauncher:	chrome
URxvt.underlineURLs:	true
*.font:			xft:Noto Sans Mono:style=Regular
